<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection App</title>
    <style>
        #webcamFeed,
        #downloadbtnid,
        #canvas {
            display: none;
        }

        #container,
        #webcamFeed {
            display: none;
            width: 600;
            height: 550;
        }
    </style>
    <!-- Include necessary JavaScript libraries -->
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/adapter.js@latest/adapter.min.js"></script>
</head>

<body>
    <h1>Object Detection App</h1>

    <!-- Form for file upload and object detection -->
    <form action="/objectDetectionFile" method="post" enctype="multipart/form-data">
        <label for="fileInput">Upload a Video File:</label>
        <!-- Input for file selection -->
        <input type="file" name="file" accept="video/*, .mov, .mp4, .avi" id="fileInput" required>
        <!-- Button to submit the form -->
        <button type="submit">Detect Objects in File</button>
    </form>

    <br>
    <!-- Button to download the processed video -->
    <a href="/download"><button id="downloadbtnid" onclick="downloadbtn()">Download the file</button></a>
    <br><br>
    <!-- Button for object detection using webcam -->
    <button onclick="captureVideo()">Detect Objects from Webcam</button>
    <br>
    <!-- Button to stop object detection -->
    <a href="stopObjectDetection"><button onclick="stopObjectDetection()">Stop Object Detection</button></a>

    <!-- Display area for webcam feed -->
    <div id="container">
        <!-- Video element for displaying webcam feed -->
        <video autoplay playsinline id="videoElement"></video>
        <!-- Canvas for drawing object detection results -->
        <canvas id="canvas" width="600" height="550"></canvas>
    </div>

    <div id="webcamFeed">
        <!-- Image element for displaying object detection live stream -->
        <img id="live-stream" src="" width="600px" height="550px" alt="Object Detection Live Stream">
    </div>

    <!-- Include your JavaScript file for handling client-side logic -->
    <script src="../static/index.js" defer></script>

</body>

</html>
